# Editor stuff
/.idea
/.vscode
*.swp

# Build artifacts
/target
**/artifacts
.intentionally-empty-file.o

# Macos BS
.DS_Store

# Nix stuff
.direnv
.envrc
result

# For local development
my-config.toml

# SQLite
*.db
