# Editor stuff
/.idea
/.vscode
*.swp

# Build artifacts
/target
**/artifacts
.intentionally-empty-file.o

# Macos BS
.DS_Store

# Nix stuff
.direnv
.envrc
result

# For local development
my-config.toml

# SQLite
*.db

# C# stuff
# Build results
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/build/
**/bld/
**/[Bb]in/
**/[Oo]bj/
**/[Oo]ut/
**/msbuild.log
**/msbuild.err
**/msbuild.wrn

